Results
<div class="cards">
  <% @games.each do |game| %>
  <div class="card">
  <%= image_tag game['image']['medium_url'], class: "cover"%>
  <div class="container">
    <h2><%= game['name'] %></h2>
    <p><%= game['deck'] %></p>
    <p><%= game['id'] %></p>
    <% if game['platforms'] === nil %>
    <p>Platform Unknown</p>
    <% else %>
    <p><%= game['platforms'][0]['name'] %></p>
    <% end %>
    <p><%= game['original_release_date'].to_s[0..3] %></p>

    <% if user_added_to_library?(current_user, game) %>

            <%= link_to 'Remove from library', add_game_path(game['id'], type: "remove"), method: :put %>

          <% else %>
            <%= link_to 'Add to library', add_game_path(game['id'], type: "add"), method: :put %>
          <% end %>

<%= link_to 'Game profile', game_path(game['id']) %>


  </div>
</div>
  <% end %>
  </div>

